bin/
obj/
/TestResults/
/.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.swp
*.sln.iml
*.ncrunchsolution
*.ncrunchproject
*.localhistory
artifacts/
BenchmarkDotNet.Artifacts/
*.DotSettings.user
_ReSharper.Caches/
*.ipch
.DS_Store
Thumbs.db
launchSettings.json
.idea/
.vscode/
global.json.lock
*.code-workspace
.vsconfig
**/node_modules/
**/.DS_Store
